.ops {
  display: grid;
  grid-template-columns: 50px;
  gap: 10px;
  margin-left: 5px;
}

.ops > Button {
  background-color: rgb(248, 156, 86); 
  border-top: 1px solid rgb(208, 208, 208);
  border-left: 1px solid rgb(208, 208, 208);
  border-right: 2px solid rgb(143, 81, 33);
  border-bottom: 2px solid rgb(143, 81, 33);
  width: 57px;
  height: 46px;  
}

